input {
    keyboard {
        xkb {
            layout "us"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
    warp-mouse-to-focus

    mouse

    trackpoint
}

output "DP-5" {
    mode "3440x1440@159.962"
    scale 1
    position x=0 y=0
}

layout {
    gaps 14
    center-focused-column "always"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 2
    }
    shadow {
        on
    }
    border {
        off

        width 1
    }
}

spawn-at-startup "noctalia"
spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"

prefer-no-csd

environment {
    QT_QPA_PLATFORM "wayland;xcb"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

window-rule {
    geometry-corner-radius 17
    clip-to-geometry true
}

window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
}

debug {
    render-drm-device "/dev/dri/renderD129"
    honor-xdg-activation-with-invalid-serial
}

binds {
    Mod+D { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+Return { spawn "kitty"; }

    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up    { focus-window-up; }
    Mod+Down  { focus-window-down; }
    Mod+Home  { focus-column-first; }
    Mod+End   { focus-column-last; }

    Mod+Ctrl+Left  { consume-or-expel-window-left; }
    Mod+Ctrl+Right { consume-or-expel-window-right; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Down  { move-window-down; }

    Mod+Alt+Left  { move-column-left; }
    Mod+Alt+Right { move-column-right; }
    Mod+Ctrl+Shift+Home { move-column-to-first; }
    Mod+Ctrl+Shift+End  { move-column-to-last; }

    Mod+R       { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }
    Mod+Shift+Left  { set-column-width "-10%"; }
    Mod+Shift+Right { set-column-width "+10%"; }
    Mod+Shift+Up    { set-window-height "+10%"; }
    Mod+Shift+Down  { set-window-height "-10%"; }
    Mod+Space   { toggle-window-floating; }
    Mod+F       { maximize-column; }

    Mod+Q       { close-window; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Tab     { toggle-overview; }
    Mod+O       { toggle-overview; }
    Mod+Shift+S { screenshot-screen; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
}

animations {
    workspace-switch {
        spring damping-ratio=0.85 stiffness=700 epsilon=0.0001
    }

    horizontal-view-movement {
        duration-ms 180
    }

    window-open {
      duration-ms 170
      curve "ease-out-quad"
      custom-shader r"
        vec4 zoom_in(vec3 coords_geo, vec3 size_geo) {
          float progress = niri_clamped_progress;
          float scale = progress;
          vec2 coords = (coords_geo.xy - vec2(0.5, 0.5)) * size_geo.xy;
          coords = coords / scale;
          coords_geo = vec3(coords / size_geo.xy + vec2(0.5, 0.5), 1.0);
          vec3 coords_tex = niri_geo_to_tex * coords_geo;
          vec4 color = texture2D(niri_tex, coords_tex.st);
          color.a *= progress;

          return color;
        }
        vec4 open_color(vec3 coords_geo, vec3 size_geo) {
          return zoom_in(coords_geo, size_geo);
        }
      "
    }

    // Original by Lemmy: https://github.com/ItsLemmy
    window-close {
      duration-ms 700
      curve "linear"
      custom-shader r"
        vec4 fall_and_rotate(vec3 coords_geo, vec3 size_geo) {
          float progress = niri_clamped_progress * niri_clamped_progress;
          vec2 coords = (coords_geo.xy - vec2(0.5, 1.0)) * size_geo.xy;
          coords.y -= progress * 1440.0;
          float random = (niri_random_seed - 0.5) / 2.0;
          random = sign(random) - random;
          float max_angle = 0.5 * random;
          float angle = progress * max_angle;
          mat2 rotate = mat2(cos(angle), -sin(angle), sin(angle), cos(angle));
          coords = rotate * coords;
          coords_geo = vec3(coords / size_geo.xy + vec2(0.5, 1.0), 1.0);
          vec3 coords_tex = niri_geo_to_tex * coords_geo;
          vec4 color = texture2D(niri_tex, coords_tex.st);
          color.a *= (1.0 - progress);

          return color;
        }
        vec4 close_color(vec3 coords_geo, vec3 size_geo) {
          return fall_and_rotate(coords_geo, size_geo);
        }
      "
    }
    slowdown 0.9
    window-movement {
        duration-ms 120
    }
    window-resize {
        duration-ms 240
    }
    overview-open-close {
        off
    }
}
